body{
	padding: 0;
	margin: 0;
	background-color: gray;
}

.header1{
	background-color: #da3232;
	width: 100%;
	padding: 10px;
	display: flex;

}

.mainTitle{
	font-size: 200%;
	padding-right: 5%;
	color: white;
}

.mainButtonsContainer{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.buttonsDesign{
	background-color: #da3232;
	color:white;
}

.mainContent{
	display: flex;
	justify-content: center;
	font-size: 200%;
}

th{
	border: 1px solid #333;
	background-color: darkred;
	color: white;
	border-collapse: collapse;
	padding: 6px;
}

tr{
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 6px;
}

table{
	display: flex;
}